.chosenOptions {
  display: flex;
  padding: 20px 8px;
  justify-content: space-between;
  height: 24px;
  border-radius: 2px;
  align-items: center;
  :first-child {
    display: flex;
    align-items: center;
    background-color: #f2f5f5;
    
    :first-child {
      padding-left: 8px;
    }
    svg {
      padding: 2px 8px;
      box-sizing: content-box;
    }
  }
}
