@mixin fontStyle($size, $weight, $height, $spacing) {
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $spacing;
}

.goods {
  padding: 24px;
  display: flex;
  gap: 24px;
  opacity: 0.7;
  transition: opacity 0.3s linear;
}

.goods:hover .purchasing {
  visibility: visible;
}

.goods:hover {
  opacity: 1;
}

.picture{
  img{
    max-width: 200px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22vw;
}

.labelOfGood {
  display: flex;
  @include fontStyle(20px, 500, 28px, 0.15px);
}
.manage{
  font-weight: 400;
  color: #38999B;
  font-size: 15px;
  margin: 0 0 0 2px;
  display: flex;
  padding: 2px 6px;
  align-items: center;
  &:hover{
    background-color: #f3f3f3;
  }
}

.data {
  display: flex;
  gap: 8px;
  align-items: center;
  p:first-child {
    padding: 4px 8px;
    display: flex;
    gap: 6px;
    align-items: center;
    background-color: #eef7ff;
    border-radius: 4px;
    color: #2978b8;
    svg {
      display: block;
    }
  }
  p:last-child {
    color: #798787;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.15px;
  }
}

.more {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dataOfAd {
  @include fontStyle(12px, 400, 16px, 0.2px);
  color: #798787;
}

.betInfo{
  justify-content: flex-end;
}

.bet {
  margin-left: auto;
  width: 300px;
  div:first-child {
    display: flex;
  }
}

@mixin big-font {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
  letter-spacing: 0.15px;
}

.cost {
  display: flex;
  gap: 8px;
  flex-direction: column;
  p {
    @include fontStyle(20px, 500, 28px, 0.15px);
    padding-right: 30px;
  }
  p:first-child {
    color: #f87e25;
  }
  p:last-child {
    @include fontStyle(14px, 400 ,20px , 0.15px)
  }
}

.perKg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p:first-child {
    @include fontStyle(20px, 500, 28px, 0.15px);
  }
  p:last-child {
    padding-right: 25px;
  }
}

.purchasing {
  display: flex;
  margin-top: 24px;
  gap: 8px;
  width: 100%;
  visibility: hidden;
  > button {
    @include fontStyle(14px, 500, 20px , 0.3px );
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 6px 12px;
    border-radius: 2px;
    border: 1px solid #38999b;
    border-radius: 2px;
    cursor: pointer;
  }
  svg {
    display: block;
  }
  button:first-child {
    color: #38999b;
    padding-right: 10px;
    flex-grow: 1;
  }
  button:nth-child(2) {
    background-color: #38999b;
    color: white;
    flex-grow: 1;
  }
  button:nth-child(3) {
    background-color: #D40000;
    color: white;
    border: none;
  }
}

.hidden {
  visibility: hidden;
}

.grey {
  color: grey !important;
}