.rightBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 400;
  .variety{
    display: flex;
    align-items: center;
  }

  p {
    margin: auto 8px;
  }

  img {
    height: 21px;
    margin: 2px;
  }
}



