.rightBar {
  display: flex;
  align-items: center;
  width: 558px;
  justify-content: space-between;
  font-weight: 400;

  p {
    font-weight: 500;
    margin: auto 8px;
  }

  .badge {
    cursor: pointer;
  }

  img {
    height: 21px;
    margin: 2px;
  }

  .newAdBtn {
    display: flex;
    justify-content: center;

    .newAd {
      display: flex;
      padding: 10px 20px;
      background-color: #38999B;
      color: white;
      font-weight: 500;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.4px;
      align-items: center;
    }
  }
}



