.button{
  margin: 45px 0 0 0;
  padding: 12px 30px;
  background-color: #38999B;
  color: white;
  cursor: pointer;
  width: 328px;
  bottom: 30px;
  border: none;
  font-size: 18px;
  position: absolute;
  &:disabled{
    background-color: #E6E6E6;
    cursor: default;
    color: #BCC3C3;
  }
}