.newAdBtn {
  display: flex;
  justify-content: center;

  .newAd {
    display: flex;
    padding: 10px 20px;
    background-color: #38999B;
    color: white;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.4px;
    align-items: center;
  }
}
