@mixin fontStyle($weight, $size, $lineHeight, $letter) {
  font-weight: $weight;
  font-size: $size;
  line-height: $lineHeight;
  letter-spacing: $letter;
}

@mixin circleButton($right, $left) {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #bcc3c3;
  bottom: 0;
  right: $right;
  left: $left;
  cursor: pointer;
}

.userInfo {
  padding: 24px 40px;
  p {
    @include fontStyle(500, 18px, 28px, 0.4px);
  }
}

.userForm {
  display: flex;
  margin-top: 24px;
}

.currency {
  margin-top: 25px;
  height: 43px;
  width: 120px;
  border-radius: 4px;
  border-color: #a2a2a2;
  padding: 0 0 0 5px;
}

.circle {
  position: relative;
  margin-right: 40px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-color: #f87e25;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  @include fontStyle(300, 64px, 72px, -0.5px);
  color: white;
}

.takePhotoRight {
  @include circleButton(0, null);
}

.takePhotoLeft {
  @include circleButton(null, 0);
  svg {
    fill: red;
    width: 16px;
    height: 16px;
  }
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
  gap: 16px;
  .cancel {
    color: #38999b;
    border: 1px solid #38999b;
    cursor: pointer;
    svg {
      fill: gray;
      margin-right: 2px;
    }
  }
  .confirm {
    display: flex;
    background-color: #38999b;
    color: white;
    align-items: center;
    gap: 12px;
    cursor: pointer;
  }
  button {
    padding: 8px 16px;
    @include fontStyle(500, 16px, 24px, 0.3px);
    border-radius: 2px;
    width: fit-content;
    border: none;
  }
}

.security {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  > p {
    margin-bottom: 24px;
  }
  > div {
    @include fontStyle(500, 16px, 24px, 0.3px);
    display: flex;
    color: #38999b;
    align-items: center;
    gap: 12px;
    border: 1px solid #38999b;
    padding: 8px 16px;
    align-self: flex-start;
    border-radius: 2px;
    cursor: pointer;
  }
}

.settings {
  padding: 24px 0;
  > p:first-child {
    @include fontStyle(500, 18px, 28px, 0.4px);
    margin-bottom: 24px;
  }
  p {
    @include fontStyle(400, 18px, 28px, 0.4px);
  }
}

.inputFile {
  width: 0;
  height: 0;
  visibility: hidden;
  position: absolute;
}

.noValid {
  background-color: initial !important;
}

.changeEmail {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}