@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 96px;
  background: #FFFF;
  padding: 0 84px 0;
  align-items: center;
  font-family: 'IBM Plex Sans', sans-serif;
  box-shadow: 0 9px 16px -9px rgba(202, 204, 206, 0.6);

  a{
    text-decoration: none;
    color: black;
  }

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    margin: 0 60px 0 0;

    .logoName {
      color: #183C48;
      font-size: 24px;
      margin: 0 0 0 8px;
      font-weight: 500;
    }
  }

  .searchBlock {
    display: flex;
    flex-grow: 1;

    img{
      margin: 0 2px 1px 0;
    }

    input {
      width: 90%;
      border: none;
    }

    input:focus{
      color: gray;
      outline: 1px solid #ececec;
    }
  }
}