@mixin fontStyle($weight, $size, $lineHeight, $letter) {
  font-weight: $weight;
  font-size: $size;
  line-height: $lineHeight;
  letter-spacing: $letter;
}

@mixin buttonStyle($color, $backgroundColor) {
  background-color: $backgroundColor;
  @include fontStyle(500, 16px, 24px, 0.3px);
  color: $color;
}

.buttonClose {
  width: fit-content;
  height: fit-content;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: white;
  svg {
    fill: gray;
  }
}

.labelModal {
  @include fontStyle(400, 30px, 43px, 0.2px);
  position: relative;
  margin-bottom: 24px;
}

.inputBlock {
  display: flex;
  flex-direction: column;
  gap: 16px;
  input {
    width: 100%;
    display: block;
  }
  button {
    width: 100%;
    border: none;
  }
  h3 {
    color: green;
  }
}

.forgotPassword {
  @include fontStyle(500, 14px, 20px, 0.3px);
  color: #38999b;
  cursor: pointer;
}

.codeValidation {
  :first-child {
    width: 100%;
  }
}

.notDisplay {
  display: none;
}

.passwordChangeValid {
  @include buttonStyle(white, #38999b);
}

.passwordChangeInvalid {
  @include buttonStyle(#bcc3c3, #e6e6e6);
}

button {
  cursor: pointer;
}

.incorrect {
  font-weight: 400;
  font-size: 13px;
  color: red;
}

.hidden {
  visibility: hidden;
}

.modalStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border: 2px solid #000;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  padding: 40px;
}
