.sideBar {
  width: 268px;
  background-color: white;

  p {
    margin: 0 0 10px 15px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    cursor: pointer;

    &:hover {
      color: #595959;
    }
  }


}