
table {
  background-color: white;
  border-collapse: collapse;
  box-shadow: 0 0 11px -6px rgba(34, 60, 80, 0.2);
  width: 100%;
  margin: 0 auto 10px;

  thead, tbody tr {
    display: table;
    width: 100%;
  }

  .tableColMrg{
    width: 400px;
  }

  .tableMrg{
  min-width: 350px;
  }

  tbody {
    display: block;
    height: 448px;
    overflow: auto;

    td {
      border-top: 1px solid #efefef;
      padding: 0 0 0 20px;
      position: relative;
      //width: 23%;
      &:first-child{
        width: 50px;
      }
    }


      img {
        cursor: pointer;
        width: 20px;
        height: 20px;
        position: absolute;
        right: 65px;
        bottom: 25px;
      }
    }
  }

  tr {
    height: 70px;
    &:nth-child(2n){
      background-color: #f8f8f8;
  }

  th {
    font-weight: 500;
    height: 80px;
    width: 23%;
    padding: 0 0 0 20px;
    letter-spacing: 1px;
    text-align: left;
    &:first-child{
      width: 60px;
    }
  }
}

.createUserBtn {
  background-color: #38999B;
  color: white;
  border: none;
  right: 100px;
  margin: 10px 0;
  width: 193px;
  height: 48px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;

  &:hover {
    background-color: #359293;
  }
}