$padding: 0 0 0 40px;
$blueColor: #38999B;

.tableContainer {
  width: 80%;
  position: relative;
  background-color: white;
  padding: 0 0 60px 0;
}

table {
  background-color: white;
  box-shadow: 0 0 11px -6px rgba(34, 60, 80, 0.2);
  border-collapse: collapse;
  width: 100%;


  th {
    font-weight: 500;
    height: 70px;
    letter-spacing: 1px;
    text-align: left;
    padding: $padding;
  }

  tbody {
    height: 448px;
    overflow: auto;

    tr {
      height: 60px;
      position: relative;

      &:nth-child(2n+1) {
        background-color: #f8f8f8;
      }

      & td:not(:first-child, :last-child) {
        width: 28%;
      }
    }

    td {
      border-top: 1px solid #efefef;
      padding: $padding;

    }

    img {
      cursor: pointer;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 55px;
      bottom: 15px;
    }
  }
}

.createUserBtn {
  background-color: $blueColor;
  color: white;
  border: none;
  margin: 10px 0;
  width: 193px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  position: absolute;
  right: 0;

  &:hover {
    background-color: #359293;
  }
}