.filter {
    width: 15vw;
    box-shadow: 0px -1px 0px 0px #E6E6E6 inset, -1px 0px 0px 0px #E6E6E6 inset;
    padding: 24px;
}

.filterUse {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    height: 48px;
    align-items: center;
    width: 15vw;
    gap: 4px
}

.filter button {
    width: 25px;
    height: 26px;
    padding: 0;
    background-color: white;
    display: inline-block;
}

input {
    display: inline-block;
    margin-right: 12px;
}

.more {
    display: flex;
    align-items: center;
    margin-top: 22px;
    justify-content: space-between;
    padding: 9px 12px;
    border: 1px solid  #BCC3C3;
    border-radius: 2px;
}

.sizing {
    margin-top: 40px;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.4px;
    display: flex;
    justify-content: space-between;
    span {
        display: inline-block;
        color: #38999B;
        font-weight: 400;
    }
}

.sizing span:first-of-type {
    margin-right: 8px;
}

.sizing span:last-of-type {
    margin-left: 8px;
}

.slider {
    height: 44px;
}

.filter>div>div:first-of-type {
    margin-top: 0;
}