@mixin positionArrow (){
    position: absolute;
    top:47%;
}

.imagesOfProduct {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 40%;
}

.bigProduct {
    height: 50vh;
    display: block;
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    img {
        max-height: 100%;
    }
}

.arrowLeft{
    @include positionArrow();
    left: 1%;
}

.arrowRight{
    @include positionArrow();
    right: 1%;
}

.hidden {
    display: none;
}